@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{  
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    background: #0e1623;
}


*,
*::before,
*::after {
    box-sizing: border-box;
}

.ContainerVideoAndChat{ 
    display: flex;
    justify-content: center;
    gap: 10px;
    height: 730px;
}

@media (max-width: 1118px) {    
    .ContainerVideoAndChat{ 
        flex-direction: column;
        height: auto;
        align-items: center;
        padding-bottom: 20px;
    }
}



.App{
    width: 100%;
    max-width: 1440px;
    height: 844px;
    margin: 0 auto;
    background-color: #0e1623;
    
}

.ContainerTitleLogOut{  
    width: 100%;
    height: 80px;
    padding: 0px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.title{ 
    display: flex;
    justify-content: center;
    align-items: center;
    
    gap:10px;
    font-size: 30px;
    color: aliceblue;
    
    svg{    
        font-size: 36px;
        color: #62d5c4;
    }
}
@media (max-width: 442px) {
    .title{ 
        font-size: 20px;
    }
}

.logOut{    

    display: flex;
    justify-content: center;
    align-items: center;
    gap:5px;
    width: auto;
    padding: 0px 20px;
    height: 40px;
    border-radius: 8px;
    border: none;
    background-color: #62d5c4;
    color: aliceblue;
    font-weight: bold;
    
    cursor:pointer;
    font-size: 17px;


    svg{    
        font-size: 25px;
        color: aliceblue;   
    }
}

@media (max-width: 378px) { 
    .logOut{    
        font-size: 14px;
        padding: 0px 10px;

    }
}    

.Chat{  
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.ChatBody{  
    width: 100%;
    height: 520px;
    display: flex;
    flex-direction: column-reverse; 
    overflow-y: scroll;
    background: hsla(217, 34%, 13%, 1);
    padding: 30px;
}
.InputsForm{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.NikNameInput{  
    border-radius: 15px;
    border: none;
    padding: 10px;
    outline: none;
}
.MessageInput{
    width: 90%;
    border-radius: 15px;
    border: none;
    padding: 20px 70px;
    outline: none;

    background-color: #1e2636;
    color: aliceblue;
    outline: none;
}

.MessageInput:-webkit-autofill,
.MessageInput:-webkit-autofill:hover,
.MessageInput:-webkit-autofill:focus,
.MessageInput:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px #1e2636 inset;
    -webkit-text-fill-color: white;
    transition: background-color 5000s ease-in-out 0s;
    border-radius: 12px;
    outline: none;
}

.emoji-picker {
    position: absolute;
    bottom: 26px;
    left: 80px;
}

.ContainerButtonInput{  
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 20px;
    gap: 20px;
}

.EmogiAbsolute{ 
    font-size: 40px;
    position: absolute;
    left: 35px;
    bottom: 21px;
    cursor: pointer;
    border-style: none;

    color: grey;
    background-color: transparent;
}

.ButtonName{    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;

    border: none;
    background-color: #62d5c4;
    color: aliceblue;
    font-weight: bold;
    
    cursor:pointer;

    font-size: 26px;
}


.ContainerMessages{ 
    display: flex;
    flex-direction: column-reverse;
    gap: 50px;
}

.SmallMessages{ 
    color: aliceblue;
}

.NewMessage{    
    display: flex;
    flex-direction: column-reverse;
    gap:20px
}


.MessageYOU{  
    width: 45%;  
    display: flex;
    justify-content: end;
    padding: 20px;
    align-self: flex-end;

    align-items: center;
    background-color: #2b867d;
    color: beige;
    border-radius: 15px;
    border-bottom-right-radius: 0px;
    overflow-wrap: anywhere;
    word-break: break-word;
}

.Messageother{  
    width: 45%; 
    display: flex;
    justify-content: start;
    align-self: flex-start;
    padding: 20px;
    align-items: center;
    background-color: #2a3445;
    border-radius: 15px;
    border-bottom-left-radius: 0px;
    color: aliceblue;
    overflow-wrap: anywhere;
    word-break: break-word;
}

@media (max-width: 551px) {     
    .MessageYOU{    
        width: 70%; 
    }
    .Messageother{  
        width: 70%;
    }
}


.ContainerLoader{   
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #1e1e2e;
}