.main_Chat_Close{ 
    width: 785px;
    
    display: flex;  
    flex-direction: column;

    justify-content: center;
    align-items: center; 
    
    color: aliceblue;
    background: hsla(217, 34%, 13%, 1);
    box-shadow:   0 15px 40px rgba(0,0,0,.35);
    border-radius: 12px;
    border: 1px #ffffff10 solid;
    height: 100%;

    h1{ 
        width: 350px;
        font-size: 46px;
    }

    p{   
        color: #2b867d;
    }

}